---
import i18next, { t } from "i18next";
import { Trans, HeadHrefLangs } from "astro-i18next/components";
import { changeLanguage } from "i18next";
import "../styles/header.css";
---

<header>
    <div class="logo">
        <h1>Nishyuu</h1>
    </div>
    <div class="center">
        <nav>
            <ul>
                <li><a href="#">{t("header.menu1")}</a></li>
                <li><a href="#">{t("header.menu2")}</a></li>
                <li><a href="#">{t("header.menu3")}</a></li>
                <li><a href="#">{t("header.menu4")}</a></li>
            </ul>
        </nav>
    </div>
    
    <!-- Theme Dropdown -->
    <div class="dropdown">
        <select id="theme-select" name="theme">
            <option value="light" selected>{t("header.button.light")}</option>
            <option value="dark">{t("header.button.dark")}</option>
        </select>
    </div>
    
    <div class="language-links">
        <ul>
            <li><a href="https://nishiyuuu.github.io/Bdlog_2.0/">PL</a></li>
            <li><a href="https://nishiyuuu.github.io/Bdlog_2.0/ua/">UA</a></li>
            <li><a href="https://nishiyuuu.github.io/Bdlog_2.0/en/">EN</a></li>
            <li><a href="https://nishiyuuu.github.io/Bdlog_2.0/by/">BY</a></li>
        </ul>
    </div>

    <script src="../js/header.js"></script>
</header>